container {
  font-family: sans-serif;
}

.weather {
  max-width: 75%;
  display: block;
  margin: 0 auto;
}

body {
  background-color: rgb(242, 241, 241);
}

h1 {
  text-align: 0 auto;
  color: black;
  margin-left: 4px;
  line-height: 2.5;
  margin-bottom: 0px;
  margin-top: 5px;
}
#units {
  font-weight: 600;
  font-size: large;
  color: gray;
  vertical-align: super;
}
.App #celsLink {
  color: rgb(73, 61, 152);
}
.App #fahrLink {
  color: rgb(73, 61, 152);
}

.App #fahrLink.active {
  color: black;
  cursor: default;
}

.App #fahrLink.active:hover {
  text-decoration: none;
}

.App #celsLink.active {
  color: black;
  cursor: default;
}

.App #celsLink.active:hover {
  text-decoration: none;
}

#searchButton {
  line-height: 1;
}
#inputCity {
  border-radius: 0.25rem;
  max-width: 100%;
}
li {
  list-style: none;
  margin-top: 0px;
}
li::first-letter {
  text-transform: capitalize;
}
ul {
  padding: 2px;
}
.weatherForecast {
  color: black;
}
.forecastColumn {
  text-align: center;
}
#github {
  color: rgb(73, 61, 152);
}

#forecastMaxTemp {
  font-weight: 500;
}
#forecastTemps {
  font-size: 13px;
}

#forecastRow {
  color: black;
}
